## streaming churn and retention Analysis

1. Importing the dependencies

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

2. Data loading

In [ ]:
# load the data
df = pd.read_csv("../data/Streaming.csv")

In [ ]:
df.shape

(5000, 12)

In [ ]:
df.head()

,Customer_ID,Age,Gender,Subscription_Length,Region,Payment_Method,Support_Tickets_Raised,Satisfaction_Score,Discount_Offered,Last_Activity,Monthly_Spend,Churned
0,CUST000001,56.0,Male,54,South,PayPal,0,9.0,6.42,319,62.11,1
1,CUST000002,69.0,Female,21,East,Debit Card,1,2.0,13.77,166,37.27,1
2,CUST000003,46.0,Female,49,East,PayPal,3,8.0,19.91,207,61.82,0
3,CUST000004,32.0,Male,47,West,Debit Card,3,1.0,13.39,108,40.96,1
4,CUST000005,60.0,Male,6,East,Credit Card,2,NaN,13.18,65,45.97,0

In [ ]:
pd.set_option("display.max_columns", None)

3. inspecting the data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer_ID             5000 non-null   object
 1   Age                     4500 non-null   float64
 2   Gender                  5000 non-null   object
 3   Subscription_Length     5000 non-null   int64
 4   Region                  5000 non-null   object
 5   Payment_Method          5000 non-null   object
 6   Support_Tickets_Raised  5000 non-null   int64
 7   Satisfaction_Score      4500 non-null   float64
 8   Discount_Offered        5000 non-null   float64
 9   Last_Activity           5000 non-null   int64
 10  Monthly_Spend           5000 non-null   float64
 11  Churned                 5000 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 468.9+ KB

In [ ]:
df.isna().sum()

Customer_ID                 0
Age                       500
Gender                      0
Subscription_Length         0
Region                      0
Payment_Method              0
Support_Tickets_Raised      0
Satisfaction_Score        500
Discount_Offered            0
Last_Activity               0
Monthly_Spend               0
Churned                     0
dtype: int64